---
layout: default
---
</div>

  <div class="post post_type_media post_state_single">
  	<h1 class="post__heading">{{ page.title }}</h1>

      <video class="post__media" width="{{ page.videoWidth }}" height="{{ page.videoHeight }}" autoplay="autoplay" loop="loop" onstart="this.play();" onended="this.play();">
        <source src="http://rdorde.github.io/videos/{{ page.repo }}.mp4">
        <source src="http://rdorde.github.io/videos/{{ page.repo }}.ogv" type="video/ogg">
        Your browser does not support the <code>video</code> element.
      </video>

      <div class="post__text_container">
        <div class="col-lg-3 col-md-4 col-md-offset-6 col-sm-5 col-sm-offset-6 col-xs-12 post__text">
          {{ content }}

		      <ul class="post__meta">
						<li><strong>Demo</strong> <a href="http://rdorde.github.io/{{ page.repo }}">jjjj.eu/{{ page.repo }}</a></li>
						<li><strong>Code</strong> <a href="https://github.com/rdorde/{{ page.repo }}">rdorde/{{ page.repo }}</a></li>
						<li><strong>Tags</strong> {{ page.categories | join: ' ' }}</li>
						<li><strong>Date</strong> {{ page.date | date: "%b %-d, %Y" }}</li>
						<li><strong>Talk</strong> <a href="https://twitter.com/rdorde">@rdorde</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				
				<div class="foot"><a href="/" title="Home page">Back</a></div>	
				<div class="clearfix"></div>

			</div>
  </div>

